# CMake
/build/
/out/
CMakeUserPresets.json

# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# Build products
*.exe
*.dll
*.pdb
*.ilk
*.obj
*.lib
*.exp

# Editors and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
